@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:400,700,900&subset=latin-ext');
.App-header {
  background-color: #282c34;
  color: white;
  display: block;
}
body{
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  width:100%;
  background-color:beige;
  padding-top:40px;
  display: flex;
  justify-items: center;
  align-content: space-around;
justify-content: center;}

.showed{
  border:1px black solid;
}
.myStyle{

}